<!-- Header -->
<div id="profileWrapper">
  <div id="profileInnerWrapper">
    <div class="d-flex justify-content-start align-items-start" [routerLink]="['/']">
    </div>
    <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
      <h2 class="d-flex justify-content-center flex-col align-items-center pt-4 mt-5">Deine Anfragen</h2>
    </div>
  </div>
</div>

<!-- Body -->
<div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
  <h3 class="d-flex justify-content-left flex-col align-items-center m-2">Bestätigt</h3>

  <div class="d-flex justify-content-center flex-col align-items-center m-2">
    <div class="card" style="width: 20rem;">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
          content.</p>
        <a href="#" class="card-link">Card link</a>
        <a href="#" class="card-link">Another link</a>
      </div>
    </div>
  </div>
</div>
