<!-- head -->
<div id="createWrapper">
  <div id="createInnerWrapper">
    <div class="d-flex justify-content-start align-items-start" [routerLink]="['/']">
      <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="currentColor" class="bi bi-arrow-left-short"
           viewBox="0 0 16 16" id="pfeil">
        <path fill-rule="evenodd"
              d="M12 8a.5.5 0 0 1-.5.5H5.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L5.707 7.5H11.5a.5.5 0 0 1 .5.5z"/>
      </svg>
    </div>
    <div class="d-flex justify-content-center align-items-center h-75">
      <div class="d-flex justify-content-center flex-col align-items-center">
        <h1 class="h4 customFont font-weight-bold">
          Status deiner Fahrt updaten
        </h1>
        <h6>{{start}} - {{end}}</h6>
        <h6>{{date}}</h6>
      </div>
    </div>
  </div>
</div>

<!-- content -->

<div class="container m-3">
  <div class="row d-flex justify-content-center align-items-center mt-4 ">
    <div class="col-2 col-sm-2 col-md-1 col-lg-1 col-xl-1">
      <i class="bi bi-check-circle-fill colorCustomGreen h2"></i>
    </div>
    <div class="col-10 col-sm-10 col-md-8 col-lg-7 col-xl-6">
      <p class="mb-1"> Deine Fahrt von {{start}} nach {{end}} am {{date}} um {{time}}</p>
      <p>{{status}}</p>
    </div>
  </div>
  <hr>
  <div class="row d-flex justify-content-center align-items-center mt-4 mb-4">
    <h2 class="h5 customFont font-weight-bold">Detaillierter Verlauf</h2>
  </div>

  <div class="timeline">
        <div class="contentcontainer right">
          <p class="mb-0">{{status1date}}</p>
          <p class="infotext mb-0">Deine Fahrt ist gebucht</p>
          <p class="infotext">{{start}} - {{end}}</p>
          <button
            *ngIf="trackingEntryId"
            type="button"
            class="btn bgCustomGreen"
            (click)="starting()"
          >Starten
          </button>
        </div>
        <div class="contentcontainer right">
          <p class="mb-0">{{status2date}}</p>
          <p class="infotext mb-0">Der Fahrer ist unterwegs</p>
          <p class="infotext">{{start}}</p>
          <button
            *ngIf="trackingEntryId"
            type="button"
            class="btn bgCustomGreen"
            (click)="updating()"
          >Aktualisieren
          </button>
        </div>
        <div class="contentcontainer right">
          <p class="mb-0">{{status3date}}</p>
          <p class="infotext mb-0">Der Fahrer ist am Zielort angekommen</p>
          <p class="infotext">{{end}}</p>
          <button
            *ngIf="trackingEntryId"
          type="button"
          class="btn bgCustomGreen"
            (click)="finished()"
        >Abschließen
        </button>
        </div>
        <div class="contentcontainer right mb-5">
          <p class="mb-0">{{status4date}}</p>
          <p class="infotext mb-0">Deine Fahrt ist abgeschlossen</p>
          <p class="infotext">{{end}}</p>
        </div>
      </div>
</div>

  <!-- Bewertung -->
<div class="container" *ngIf="bookingId && ratingbool">
  <div class="row d-flex text-center justify-content-center align-items-center mb-5">
    <div class="col-sm-12 col-md-12 col-lg-8 col-xl-6">
      <h2 class="h5 customFont font-weight-bold">Bewertung</h2>
      <p>Bitte bewerte Deine Fahrt!</p>
      <form [formGroup]="form" (ngSubmit)="onSubmit()">
        <select formControlName="rating" class="form-select mr-2" aria-label="Default select example">
        <option value="5" selected>5</option>
        <option value="4">4</option>
        <option value="3">3</option>
        <option value="2">2</option>
        <option value="1">1</option>
      </select>
      <i *ngIf="this.form.value.rating >= 1; else elseBlock" class="bi bi-star-fill colorCustomGreen mr-1"></i>
      <ng-template #elseBlock>
        <i class="bi bi-star colorCustomGreen mr-1"></i>
      </ng-template>
      <i *ngIf="this.form.value.rating >= 2; else elseBlock" class="bi bi-star-fill colorCustomGreen mr-1"></i>
      <ng-template #elseBlock>
        <i class="bi bi-star colorCustomGreen mr-1"></i>
      </ng-template>
      <i *ngIf="this.form.value.rating >= 3; else elseBlock" class="bi bi-star-fill colorCustomGreen mr-1"></i>
      <ng-template #elseBlock>
        <i class="bi bi-star colorCustomGreen mr-1"></i>
      </ng-template>
      <i *ngIf="this.form.value.rating >= 4; else elseBlock" class="bi bi-star-fill colorCustomGreen mr-1"></i>
      <ng-template #elseBlock>
        <i class="bi bi-star colorCustomGreen mr-1"></i>
      </ng-template>
      <i *ngIf="this.form.value.rating >= 5; else elseBlock" class="bi bi-star-fill colorCustomGreen mr-1"></i>
      <ng-template #elseBlock>
        <i class="bi bi-star colorCustomGreen"></i>
      </ng-template>
        <div class="form-group text-left">
          <label for="title">Titel</label>
          <input formControlName="title" type="text" class="form-control" id="title" aria-describedby="title"
                 placeholder="Super Fahrer!">
        </div>
        <div class="form-group text-left">
          <label for="ratingDescription">Bewertung</label>
          <textarea formControlName="ratingDescription" type="text" class="form-control" id="ratingDescription"
                    aria-describedby="ratingDescription" placeholder="Berichte von Deiner Erfahrung mit dem Fahrer"></textarea>
        </div>
        <div class="d-flex justify-content-center flex-col align-items-center">
          <button
            type="submit"
            class="btn bgCustomGreen mt-2"
          >
            Bewertung abschicken
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
