<nav class="navbar navbar-dark navbar-expand bgCustomGreen flex">
  <a class="navbar-brand mr-auto" [routerLink]="['/']">
    <div class="font-weight-bold customFont">MyCargonaut</div>
  </a>
  <a class="nav-item" *ngIf="!this.authService.isLoggedIn" [routerLink]="['/login']">
    <i class="bi bi-box-arrow-in-right text-white h2 mb-0"></i>
  </a>
  <div class="nav-item" ngbDropdown *ngIf="this.authService.isLoggedIn">
    <a
      type="button"
      class="nav-link"
      id="toggleDropdown"
      data-toggle="dropdown"
      aria-haspopup="true"
      aria-expanded="false"
      ngbDropdownToggle
    >
      <i class="bi bi-person-circle text-white h2 mb-0"></i>
    </a>
    <div
      ngbDropdownMenu
      aria-labelledby="toggleDropdown"
      class="dropdown-menu dropdown-menu-right"
    >
      <a ngbDropdownItem class="btn dropdownLinkItem" [routerLink]="['/my-profile']">Profil</a>
      <a ngbDropdownItem class="btn dropdownLinkItem" [routerLink]="['/open-requests']">Deine Anfragen</a>
      <a ngbDropdownItem class="btn dropdownLinkItem" (click)="logout()">Logout</a>
    </div>
  </div>
</nav>
<main>
    <router-outlet></router-outlet>
</main>
<footer class="bgCustomGreen pt-4">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-5 col-md-3 text-center">
                <i class="bi bi-instagram h1 text-white"></i>
                <a class="mt-3 text-white d-block">Datenschutz</a>
            </div>
            <div class="col-5 col-md-3 text-center">
                <i class="bi bi-facebook h1 text-white"></i>
                <a class="mt-3 text-white d-block">Impressum</a>
            </div>
        </div>
        <div class="row justify-content-center">
            <p class="mt-4 text-white pb-3">&copy; 2021 MYCARGONAUT</p>
        </div>
    </div>
</footer>
