<!-- Header -->
<div id="profileWrapper">
  <div id="profileInnerWrapper">
    <div class="d-flex justify-content-start align-items-start" [routerLink]="['/detail-page']">
      <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="currentColor" class="bi bi-arrow-left-short"
           viewBox="0 0 16 16" id="pfeil">
        <path fill-rule="evenodd"
              d="M12 8a.5.5 0 0 1-.5.5H5.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L5.707 7.5H11.5a.5.5 0 0 1 .5.5z"/>
      </svg>
    </div>
    <div class="d-flex justify-content-center align-items-center h-75" style="margin-left: 30px">
      <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
        <div class="d-flex justify-content-center flex-col align-items-center">
          <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
            <div class="row">
              <div class="col-4 d-flex justify-content-center flex-col">
                <img class="rounded-circle" src="{{currentUser.image}}" width="100" height="100"/>
              </div>
              <div class="col-8">
                <h3>{{currentUser.firstName}} {{currentUser.lastName}}</h3>
                <h6>{{currentUser.email}}</h6>
                <h6>Geburtsdatum: {{currentUser.birthday}}</h6>
                <div>
                  <i *ngIf="this.avgRating >= 1; else elseBlock" class="bi bi-star-fill colorCustomGreen mr-1"></i>
                  <ng-template #elseBlock>
                    <i class="bi bi-star colorCustomGreen mr-1"></i>
                  </ng-template>
                  <i *ngIf="this.avgRating >= 2; else elseBlock" class="bi bi-star-fill colorCustomGreen mr-1"></i>
                  <ng-template #elseBlock>
                    <i class="bi bi-star colorCustomGreen mr-1"></i>
                  </ng-template>
                  <i *ngIf="this.avgRating >= 3; else elseBlock" class="bi bi-star-fill colorCustomGreen mr-1"></i>
                  <ng-template #elseBlock>
                    <i class="bi bi-star colorCustomGreen mr-1"></i>
                  </ng-template>
                  <i *ngIf="this.avgRating >= 4; else elseBlock" class="bi bi-star-fill colorCustomGreen mr-1"></i>
                  <ng-template #elseBlock>
                    <i class="bi bi-star colorCustomGreen mr-1"></i>
                  </ng-template>
                  <i *ngIf="this.avgRating >= 5; else elseBlock" class="bi bi-star-fill colorCustomGreen mr-1"></i>
                  <ng-template #elseBlock>
                    <i class="bi bi-star colorCustomGreen"></i>
                  </ng-template>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<app-alert></app-alert>

<!-- Body -->
<div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
  <h3 class="d-flex justify-content-center flex-col align-items-center m-2">Angebotene Fahrten</h3>
  <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
    <div class="d-flex justify-content-center flex-col align-items-center">
      <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12" *ngFor="let offer of this.userService.offersFromSelectedUser">
        <div class="card m-2">
          <div class="card-body">
            <div class="row">
              <div class="col-12" style="margin-left: 10px">
                <h4 class="h4 customFont font-weight-bold">{{offer.start}} - {{offer.destination}}</h4>
                <h6>{{offer.startDate.day}}.{{offer.startDate.month}}.{{offer.startDate.year}} - {{offer.startTime.hour}}:{{offer.startTime.minute}}</h6>
                <p>{{offer.description}}</p>
                <span class="badge rounded-pill bgCustomGreen font-weight-bold customFont" style="color: white"> {{offer.price}}€</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Carousel  -->
  <h3 class="d-flex justify-content-center flex-col align-items-center m-2" *ngIf="this.ratingsList">Bewertungen</h3>
  <ngb-carousel>
      <ng-template ngbSlide *ngFor="let rating of ratingsList; let i = index">
        <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12" >
          <div class="d-flex justify-content-center flex-col align-items-center">
            <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
              <div class="card m-2">
                <div class="card-body">
                  <div class="row">
                    <div class="col-12" style="margin-left: 10px">
                      <h4 class="h4 customFont font-weight-bold">{{rating.title}}</h4>
                      <p> {{rating.description}}</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </ng-template>
  </ngb-carousel>
</div>

