<div id="searchWrapper">
  <div id="searchInnerWrapper">
    <div class="d-flex justify-content-center align-items-center h-100">
      <div class="d-flex justify-content-center flex-col align-items-center">
        <h1 class="h4 customFont font-weight-bold">
          Finde deinen (Mit-)Fahrer
        </h1>
        <div class="row w-100 justify-content-center">
          <div class="col-6 px-1">
            <p>Start</p>
            <input type="" class="form-control mt-n2" placeholder="z.B. Köln" />
            <select class="custom-select mt-3">
              <option selected value="">Datum</option>
            </select>
          </div>
          <div class="col-6 px-1">
            <p>Ziel</p>
            <input
              type="text"
              class="form-control mt-n2"
              placeholder="z.B. Berlin"
            />
            <select class="custom-select mt-3">
              <option selected value="">Art der Fahrt</option>
              <option value="güter">Gütertransport</option>
              <option value="person">Personentransport</option>
            </select>
          </div>
        </div>
        <div class="row w-100 justify-content-center">
            <button class="btn mt-3 bgCustomGreen font-weight-bold text-white">
                Suche starten
            </button>
        </div>
      </div>
    </div>
  </div>
</div>
