<div id="searchWrapper">
  <div id="searchInnerWrapper">
    <div
      class="d-flex justify-content-start align-items-start"
      [routerLink]="['/']"
    >
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="40"
        height="40"
        fill="currentColor"
        class="bi bi-arrow-left-short"
        viewBox="0 0 16 16"
        id="pfeil"
      >
        <path
          fill-rule="evenodd"
          d="M12 8a.5.5 0 0 1-.5.5H5.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L5.707 7.5H11.5a.5.5 0 0 1 .5.5z"
        />
      </svg>
    </div>
    <div class="d-flex justify-content-center align-items-center h-75">
      <div class="d-flex justify-content-center flex-col align-items-center">
        <h1 class="h4 customFont font-weight-bold" *ngIf="this.search.searchResults.length == 1; else elseBlock">
          {{ this.search.searchResults.length }} Ergebniss für Deine Route
        </h1>
        <ng-template #elseBlock><h1 class="h4 customFont font-weight-bold">
          {{ this.search.searchResults.length }} Ergebnisse für Deine Route
        </h1> </ng-template>
        <h6>
          {{ this.search.searchResults[0].start }} - {{ this.search.searchResults[0].destination }}
        </h6>
      </div>
    </div>
  </div>
</div>

<app-alert></app-alert>

<div
  *ngFor="let offer of this.search.searchResults; let i = index"
  [routerLink]="['/detail-page']"
  [queryParams]="{ id: offer.id, art: offer.entryType }"
>
  <div class="d-flex justify-content-center flex-row align-items-center container-fluid">
      <div class="card mt-2 w-100 p-0">
        <div class="card-body">
          <div class="row align-items-center">
            <div class="col-3">
              <img
                class="rounded-circle"
                src="{{offer.profileimage}}"
                width="100"
                height="100"
              />
            </div>
            <div class="col-9 pl-5">
              <h4 class="h4 customFont font-weight-bold" *ngIf="offer.startDate">
                {{ offer.startDate.day }}.{{ offer.startDate.month }}.{{
                  offer.startDate.year
                }}
                - {{ offer.startTime.hour }}:{{ offer.startTime.minute }}
              </h4>
              <h6 class="text-muted">
                {{ offer.start }} - {{ offer.destination }}
              </h6>
              <h6 class="mt-n1">{{ offer.name }}</h6>
              <p>{{ offer.description }}</p>
              <span
                class="
                  badge
                  rounded-pill
                  bgCustomGreen
                  font-weight-bold
                  customFont
                  p-2
                "
                style="color: white"
                *ngIf="offer.transportType === 'Ladefläche'; else elseBlock"
                >{{ offer.cubicmeter }} Kubikmeter</span
              >
              <ng-template #elseBlock>
                <span
                  class="
                    badge
                    rounded-pill
                    bgCustomGreen
                    font-weight-bold
                    customFont
                    p-2
                  "
                  style="color: white"
                  >{{ offer.seats }} Sitzplätze</span
                >
              </ng-template>
              <span
                class="
                  badge
                  rounded-pill
                  bgCustomGreen
                  font-weight-bold
                  customFont
                  ml-3
                  p-2
                "
                style="color: white"
                *ngIf="offer.entryType == 'Angebot'"
                >{{ offer.price }} €</span
              >
            </div>
          </div>
        </div>
      </div>
  </div>
</div>
