<div id="searchWrapper">
  <div id="searchInnerWrapper">
    <div class="d-flex justify-content-start align-items-start">
      <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="currentColor" class="bi bi-arrow-left-short" viewBox="0 0 16 16" id="pfeil">
        <path fill-rule="evenodd" d="M12 8a.5.5 0 0 1-.5.5H5.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L5.707 7.5H11.5a.5.5 0 0 1 .5.5z"/>
      </svg>
    </div>
    <div class="d-flex justify-content-center align-items-center h-75">
      <div class="d-flex justify-content-center flex-col align-items-center">
        <h1 class="h4 customFont font-weight-bold">
          20 Fahrer für Deine Route
        </h1>
        <h6>Köln - Berlin</h6>
      </div>
    </div>
  </div>
</div>

<div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
  <div class="d-flex justify-content-center flex-col align-items-center">
    <div class="card m-2">
      <div class="card-body">
        <div class="row">
          <div class="col-3 d-flex justify-content-center flex-col">
            <img class="rounded" src="../../images/leon.jpg" width="50" height="50"/>
          </div>
          <div class="col-9">
            <h4 class="h4 customFont font-weight-bold"> 02.06.2021 - 13:00 </h4>
            <h6> Köln - Berlin </h6>
            <h6> Leon Wiese </h6>
            <p> Ich biete 25qm Ladefläche in meinem LKW für die Fahrt von Köln nach Berlin. </p>
            <span class="badge rounded-pill bgCustomGreen font-weight-bold customFont" style="color: white">10qm frei</span>
            <span class="badge rounded-pill bgCustomGreen font-weight-bold customFont m-3" style="color: white">20€</span>
          </div>
        </div>
      </div>
    </div>

    <div class="card m-2">
      <div class="card-body">
        <div class="row">
          <div class="col-3 d-flex justify-content-center flex-col">
            <img class="rounded" src="../../images/leon.jpg" width="50" height="50"/>
          </div>
          <div class="col-9">
            <h4 class="h4 customFont font-weight-bold"> 02.06.2021 - 13:00 </h4>
            <h6> Köln - Berlin </h6>
            <h6> Leon Wiese </h6>
            <p> Ich biete 25qm Ladefläche in meinem LKW für die Fahrt von Köln nach Berlin. </p>
            <span class="badge rounded-pill bgCustomGreen font-weight-bold customFont" style="color: white">10qm frei</span>
            <span class="badge rounded-pill bgCustomGreen font-weight-bold customFont m-3" style="color: white">20€</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>



